<!DOCTYPE html>
<html lang="pl">
<head>
    <link id="favicon" rel="icon" type="image/png" href="/static/logo.png">
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookBook — Witaj!</title>

</head>

<body>

<header>
    <div class="header-left"></div>

    <div class="header-title"><a href="/">CookBook</a></div>

    <button id="themeToggle">🌙</button>
</header>


<div class="hero-wrapper">
    <section class="hero">

        <img src="/static/logo.png" alt="CookBook Logo">

        <h1>Witaj w CookBook!</h1>
        <p>Twoje miejsce na przepisy, inspiracje i kulinarne eksperymenty.</p>

        <div class="buttons">
            <a href="/add_recipe" class="btn-outline">Dodaj przepis</a>
            <a href="/recipes" class="btn-outline">Przeglądaj przepisy</a>
        </div>
    </section>
</div>

<footer>
    © {{ year }} CookBook — Smacznego!
</footer>

<script>
    const toggle = document.getElementById("themeToggle");
    const body = document.body;

    // Wczytaj zapisany motyw
    if (localStorage.getItem("theme") === "dark") {
        body.classList.add("dark");
        toggle.textContent = "☀️";
    }

    toggle.addEventListener("click", () => {
        body.classList.toggle("dark");

        if (body.classList.contains("dark")) {
            localStorage.setItem("theme", "dark");
            toggle.textContent = "☀️";
        } else {
            localStorage.setItem("theme", "light");
            toggle.textContent = "🌙";
        }
    });
</script>

</body>
</html>

